.App {
    text-align: center;
}

.header {
    background-color: #2081d5f6;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: white;
    padding: 0;
    margin: auto;
}


.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 5% 10%;
}



